:root {
  --primary-color: #2F243A; 
  --secondary-color:white;
   --accent1-color: #3D0C11; 
  --accent2-color: #1D3557; 
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: flex;
    align-items: center;
    padding: 20px 40px;
  }

  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL RESET */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}


.logo img {
    width: 120px;
    height: auto;
    
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    border: 1px solid #ffffff;
    overflow: hidden;
}

nav ul li {
    border-right: 1px solid #ffffff;
}

nav ul li:last-child {
    border-right: none;
}

nav a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    font-size: 17px;
}


header, main, footer {
  width: 840px;
  margin: 0 auto;
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

/* HERO SECTION */
.hero {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}


.hero article {
  position: absolute;
  bottom: 5px; 
  left: 48%;
  transform: translateX(-50%);
  background-color: var(--accent2-color, );
  padding: 16px;
  gap: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  width: 840px;
  opacity: 0.9;

}

.hero article p {
    color: var(--secondary-color);
}

.hero img {
    display: block;
    width: 100%;
    height: 100%;
     object-fit: cover;
    background-color: var(--primary-color);
  }

  .hero-text {
    position: absolute;
    bottom: 20px;
    left: 40px;
    background: rgba(0,0,0,0.55);
    padding: 15px 25px;
    color: white;
    border-radius: 8px;
}

.hero-text h1 {
    margin: 0;
    font-size: 2.2rem;
}

/* RESPONSIVE FIXES */
  .hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff; 
}

.hero article img {
    float: right;
    width: 130px;
    border: 1px solid black;
    box-shadow: 0 0 15px gray;
}

footer {
    background-color: #2c2e2e;   
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    }

footer p {
    text-align: center;
    margin: 0;
    font-size: 17px;
    color: white;
}

.socialmedia {
    display: flex;
    gap: 10px;
}

.socialmedia img {
    width: 35px;
    height: 35px;
    
   }

   /* History Section */
.history-section {
    border: 1px solid #333;
    padding: 20px;
    width: 840px;
    margin: auto;
}

.history-section h2 {
    text-align: center;
    margin-top: 0;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
    margin-top: 5px;
}

.history-image img {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

/* Adventure Section */

.adventure-section {
    border: 1px solid #333;
    padding: 20px;
    width: 840px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
   
 
}

.adventure-section h2 {
    text-align: center;
    margin-top: 0;
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

figure {
    text-align: center;
    
}

figure img {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    object-fit: cover;
}

figure figcaption {
    margin-top: 8px;
    font-size: 16px;
    color: #444;
    font-weight: bold;
}

/* Contact Page */

   .container {
    max-width: 900px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.container h1 {
    color: #111111;
}

.contact-info {
    margin-bottom: 30px;
    line-height: 1.5;
}

.content-wrapper {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    justify-content: center;
}

.map-box {
    width: 45%;
}

.map-placeholder {
    background: #e0e0e0;
    margin-top: 50px;
    width: 100%;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    font-size: 18px;
}

.iframe {
    border: 0;
}

.contact-form {
    width: 45%;
    text-align: left;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 14px;
}

.contact-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

textarea {
    height: 120px;
    resize: none;
}

.radio-group label,
.checkbox {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
}

button {
    width: 100%;
    padding: 12px;
    background: #163853;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

button:hover {
    background: #ccc;
}

/* Team Section */

.team-section {
    text-align: center;
    border: 2px solid #ccc;
    padding: 30px;
    width: 840px;
    background: #ffffff;
    margin-bottom: 20px;
}

.team-section h2 {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
}

.profile-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.profile-card {
    text-align: center;
}

.profile-img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-img::after {
    content: "";
    width: 25px;
    height: 25px;
    background: #bbb;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
}

.profile-card p {
    font-size: 14px;
    font-weight: 600;
}